* {
	box-sizing: border-box;
}

:root {
    /* Colors Novi Art */
    --Novi-Darkgrey: #292524;
    --Novi-Mediumgrey: #414141;
	--Novi-Lightgrey: rgb(110, 110, 110);
    --Novi-Beigegrey: rgb(134, 124, 111);
    --Novi-White: #edede6;

     /* Fonts Novi Art */
    --Novi-Mainfont: "Cinzel", serif;
    --Novi-Secondfont: "Bree serif", helvetica;
    --Novi-Thirdfont: "Roboto", helvetica;
}

body {
	background-color: var(--Novi-Darkgrey);
}
